.leads-table {
  width: 100%;
  height: calc(100% - 48px);
  overflow-y: scroll;
}

.row-id {
  color: #007bff;
  text-decoration: underline;
  font-weight: 600;
  font-size: 12px;
}

.row-id:hover {
  color: #0056b3;
}

.leads-table-pagination {
  border-top: 1px solid var(--crm-ui-kit-palette-border-primary);
}
