/* Burger Button */
.burger-btn {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  color: var(--crm-ui-kit-palette-sidebar-text);
  cursor: pointer;
  border-radius: 0.375rem;
  transition: all 0.2s ease;
}

.burger-btn:hover {
  background-color: var(--crm-ui-kit-palette-button-classic-hover-background);
}

.burger-btn:active {
  background-color: var(--crm-ui-kit-palette-surface-hover-background-color);
}
