.analytics-container {
  background: var(--crm-ui-kit-palette-background-default);
  padding: 0;
  height: 100%;
}

.analytics-tabs-panel {
  background: var(--crm-ui-kit-palette-background-primary);
  min-height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--crm-ui-kit-palette-content-block-box-shadow);
  border-color: var(--crm-ui-kit-palette-border-default);
}

/* Более специфичный селектор для переопределения глобальных стилей */
.analytics-tabs-panel .mantine-Button-root.analytics-tab-button {
  font-weight: 700;
  font-size: 18px;
  transition: all 0.18s;
}

.analytics-tabs-panel .mantine-Button-root.analytics-tab-button.active {
  background-color: var(--crm-ui-kit-palette-link-primary) !important;
  color: white;
  border: 2px solid var(--crm-ui-kit-palette-link-primary);
  /* box-shadow: 0 2px 8px 0 rgba(16, 185, 129, 0.3); */
}

.analytics-tabs-panel .mantine-Button-root.analytics-tab-button.inactive {
  background-color: transparent;
  color: var(--crm-ui-kit-palette-text-secondary-light);
  border: 2px solid var(--crm-ui-kit-palette-border-default);
}

.analytics-tabs-panel .mantine-Button-root.analytics-tab-button.inactive:hover {
  background-color: var(--crm-ui-kit-palette-button-classic-hover-background);
}

.analytics-content {
  flex: 1;
  min-width: 0;
}

