.chat-message .text {
  border-radius: var(--mantine-radius-lg);
}

.chat-message .text img {
  max-height: 65vh;
}

.chat-message.sent .text {
  background-color: var(--mantine-color-gray-2);
  color: var(--mantine-color-dark-9);
}

/* Простая анимация появления сообщений */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
