.action-button-task {
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;
  transition: background 0.3s ease;
  color: var(--crm-ui-kit-palette-text-primary);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--crm-ui-kit-palette-background-primary);
  border-radius: 8px;
  box-shadow: 0 4px 10px var(--crm-ui-kit-palette-box-shadow-default);
  overflow: hidden;
  width: 180px;
  z-index: 10;
  animation: fadeIn 0.2s ease-in-out;
  border: 1px solid var(--crm-ui-kit-palette-border-default);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.activ {
  background-color: #4caf50;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
}

.inactiv {
  background-color: #f44336;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
}

.task-type {
  display: flex;
  gap: 4px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10;
}