.schedule-container {
  height: 100%;
  padding: 12px;
  background-color: var(--crm-ui-kit-palette-background-default);
  color: var(--crm-ui-kit-palette-text-primary);
}

.week-navigation {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--crm-ui-kit-palette-text-primary);
  font-size: 12px;
}

.week-navigation button {
  background-color: var(--crm-ui-kit-palette-link-primary);
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 11px;
  transition: background-color 0.3s ease;
}

.schedule-container .button-container {
  margin-top: 22px;
}

.week-navigation button:hover {
  background-color: var(--crm-ui-kit-palette-link-hover-primary);
  opacity: 0.9;
}

.schedule-table-container {
  max-height: 100vh;
  overflow-y: auto;
}

.schedule-table {
  border-collapse: collapse;
  margin-top: 12px;
  table-layout: fixed;
  width: 100%;
  min-width: fit-content;
  background-color: var(--crm-ui-kit-palette-background-primary);
}

.schedule-table th,
.schedule-table td {
  border: 1px solid var(--crm-ui-kit-palette-border-default);
  padding: 6px;
  text-align: center;
  font-size: 11px;
  height: 36px;
  min-width: 100px;
  word-break: break-word;
  color: var(--crm-ui-kit-palette-text-primary);
}

.schedule-table th {
  background-color: var(--crm-ui-kit-palette-link-primary);
  color: white;
  font-weight: 600;
}

.userGroup-input-container {
  margin-left: 16px;
  margin-right: 16px;
  width: calc(100% - 32px);
}

.userGroup-button {
  padding: 0;
}

.userGroups-display {
  display: flex;
  gap: 5%;
}

.schedule-table td {
  background-color: var(--crm-ui-kit-palette-background-primary);
}

.shift-cell :first-child {
  margin-bottom: 3px;
}

.schedule-table td:hover {
  background-color: var(--crm-ui-kit-palette-button-classic-hover-background);
  cursor: pointer;
}

.shift-editor {
  max-width: fit-content;
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.time-inputs label {
  display: block;
  font-size: 12px;
  color: #ffffff;
}

.time-inputs input {
  margin-left: 8px;
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 12px;
}

.shift-editor button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 11px;
  margin-right: 8px;
  transition: background-color 0.3s ease;
}

.shift-editor button:hover {
  background-color: #218838;
}

.shift-editor button:last-child {
  background-color: #dc3545;
}

.shift-editor button:last-child:hover {
  background-color: #c82333;
}

.label-short-time {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-shift {
  display: flex;
  text-align: center;
  align-items: center;
  color: var(--crm-ui-kit-palette-link-primary);
  font-size: 20px;
}

.close-button {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.save-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #218838;
}

.cancel-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #c82333;
}

.time-work {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.short-time {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header-component {
  display: flex;
  font-size: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--crm-ui-kit-palette-text-primary);
}

.time-interval,
.add-interval {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
}

.time-interval {
  padding: 8px 0px;
}

.add-interval {
  margin-top: 36px;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.delete-button:hover {
  background-color: #c82333;
}

.add-button-minus,
.add-button-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.add-button-plus {
  background-color: #0f824c;
}

.add-button-minus {
  background-color: #c82333;
}

.add-button-minus:hover,
.add-button-plus:hover {
  background-color: #a9b644;
}

.add-button-minus:hover {
  background-color: #dd3243;
}

.add-button-plus:hover {
  background-color: rgb(41, 167, 68);
}

.container-interval {
  background-color: var(--crm-ui-kit-palette-link-primary);
  color: #fff;
  border-radius: 4px;
}

.container-interval:last-child {
  margin-top: 3px;
}